<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="path" value="d:/PRD/APILog/factoring" />

  <targets async="true">
    <target name="logFile"
                xsi:type="File"
                fileName="${var:path}/factoring-api.log"
                layout="${longdate} | ${activityid} | ${level:uppercase=true} | ${callsite:fileName=True:includeSourcePath=True:methodName=True} - ${message} | ${exception:format=@:exceptionDataSeparator=\r\n,Data:maxInnerExceptionLevel=10}"
                archiveEvery="Day"
                archiveFileName="${var:path}/factoring-api.{#}.log"
                archiveNumbering="Date"
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="90"
            />
    <target name="eventLog" xsi:type="EventLog" layout="${callsite} - ${message}" log="Application" source="Api Services" />
  </targets>

  <rules>
    <logger name="TaskLogger" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="eventLog" />
  </rules>
</nlog>